@font-face {
    font-family: 'Alegreya';
    src: url('./font/alegreya/Alegreya-VariableFont_wght.ttf');
  }

@font-face {
    font-family:"Source-sans-pro";
    src: url('./font/Source/sans7pro/source-sans-pro.regular.ttf');
}

@font-face {
    font-family: "Lobster";
    @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
}
