:root{
    --main-text-color: #361D32;
    --main-pink-light-color: #F1E8E6;
    --main-purple-color: #543C52;
    --main-orange-color: #F55951;
    --main-pink-color: #EDD2CB;

}

@font-face {
    font-family: 'Alegreya';
    src: url('./font/alegreya/Alegreya-VariableFont_wght.ttf');
  }

body{
    background-color:var(--main-text-color);
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6,p{
    font-family: "Alegreya";
  
}

.nav-link{
    font-family: "Alegreya";
    font-size: 18px;
    color:var(--main-purple-color);
    text-decoration: none;

    
}

.header{
    background-color: #fff;
    padding: 0.5rem;
    
    display: flex;
    justify-content: center;
    
}

.header-container{
    width: 100%;
   max-width: 1200px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}




header nav ul{
display: flex;
margin: 0;
padding: 0;
list-style: none;
gap: 3rem;
}

.hero{
    display: flex;
    justify-content: center;
    

}

.section-container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.hero div div {
    flex: 1;
}

.hero >div div:nth-child(1) h1 {
    color: var(--main-pink-light-color);
}

.hero >div div:nth-child(1) p{
    color: var(--main-pink-light-color);
}

.hero >div div:nth-child(2) img{
   width: 400px;
}

.hero div div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary-button{
    display: block;
    background-color: var(--main-orange-color);
    text-decoration: none;
    border-radius: 8px;
    padding: 10px 24px 10px 24px;
    color: #fff;
    width: fit-content;

}

.secundary-button{
    display: block;
    background: transparent;
    border:  var(--main-orange-color) solid 1px;
    text-decoration: none;
    border-radius: 8px;
    padding: 10px 24px 10px 24px;
    color: var(--main-orange-color);
}

.hero-button{
     
    display: flex;
    gap: 50px;
    margin-top: 3rem; 
}

.section-2 div div  h1 {
    color: var(--main-pink-light-color);


}

.section-2 div div p{
    color: var(--main-pink-light-color);
}

.about-us{
    position: relative;
    display: flex;
    justify-content: center;
    height: 600px;
 }    

.about-container{
    width: 100%;
    max-width: 684px;
    align-items: center;
    z-index: 10;
    
    
}

.about-us div h1{
    display: flex;
    justify-content: center;
    margin-top: 82px;
    color: var(--main-pink-light-color);
   
}



.about-us div  p{
 color: var(--main-pink-light-color);
 text-align: center;
 
 
}

.about-us img:nth-child(1){
     position: absolute;
     
     left: 0;
     bottom: 0;
}

.about-us img:nth-child(2){
    position:  absolute;
    top: 0;
    right: 0;
}

.pricing-section{
    background-color: var(--main-pink-color);
    display: flex;
    justify-content: center;
}

.pricing-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}

.section-container > div{
    width: 100%;
}

.pricing-section-title{
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
    color: var(--main-purple-color);

}
.pricing-grid-box{
     display: flex;
     flex-direction: column;
     align-items: center;
     color: var(--main-purple-color);
     background-color: var(--main-pink-light-color);
     align-items: center;

}

.divide{
    background-color: var(--main-pink-color);
}

h1{
    font-size: 48px;
}

.pricing.text-xl{
    font-size: 30px;
}